body {
    background-color: #34baa0a6;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.resume {
    width: 800px;
    background-color: #fff;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.);
}

.header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #333;
}

.profile-photo {
    width: 140px;
    height: 180px;
    border-radius: 50px;
    object-fit: cover;
    border: 2px solid #1f1f1f;
}

.header {
   display: flex;
   align-items: center;
   gap: 20px;
   border-bottom: 2px solid #049491;
   padding-bottom: 20px;
}

.profile-info {
    flex: 1;
}

section {
    margin-top: 25px;
}

h2 {
    color: #000000;
    margin-bottom: 10px;
}

p {
    color: #333;
    line-height: 1.6;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid #000000;
    padding: 10px;
}

th {
    background-color: #3bdadae1;
    color: #0b0b0b;
}

ol, ul {
    padding-left: 20px;
}

.social-media {
   margin-top: 10px;
}

.social-icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.social-icon:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}